<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Title</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'website/css/base.css' %}">
</head>
<body>
    <header class="jumbotron text-center">
        <h1> SHIT CHAT </h1>
        <p> Los horsemen reunited once again</p>
        <nav>
            <a href="{% url 'website:html2' %}" class="btn btn-info">James - Guerra</a>
            <a href="{% url 'website:html3' %}" class="btn btn-info">Tiago - Conquista</a>
            <a href="{% url 'website:html4' %}" class="btn btn-info">Paulo - Fome</a>
            <a href="{% url 'website:base' %}" class="btn btn-info">João - Morte</a>
        </nav>
    </header>

    <article class="container">
        <main class="col-sm-6">
            {% block main %}
            <aside class="col-sm-6">
                {% load static %}
                <img src="{% static 'website/images/horseman.jpg' %}" alt="We the best music! DJ Khaled!">
            </aside>
            {% endblock main %}
        </main>
    </article>
    <footer>...</footer>
</body>
</html>